.child{
	width: 20rem;
	border: 2px solid #ddd;
	border-radius: 5%;
	box-shadow: 0px 8px 8px -8px #000;
	text-align: center;
	margin-bottom: 1%;
	padding: 1%;
}
.pic{
	border-radius: 100%;
}
.contacts{
	display: flex;
}
.child img{
	width: 50%;

}
.contacts img{
	width: 50%;
}
.parent{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.child2{
	width: 70%;
	border: 2px solid #ddd;
	border-radius: 2%;
	box-shadow: 0px 8px 8px -8px #000;
	margin-bottom: 1%;
	padding: 1%;
}
.text{
	text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	.child{
		width: 100%;
	}
	.child2{
		width: 260%;
	}
	h1 {
		color: #80ff00;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px){
	.child{
		width: 100%;
	}
	.child2{
		width: 100%;
	}
	h1 {
		color: #17a2b8;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.child{
		width: 100%;
	}
	.child2{
		width: 200%;
	}
	h1 {
		color: #dc3545;
	}
}
@media only screen and (min-width: 1024px){
	
	h1 {
		color: #dc3545;
	}
}

